<footer>
 <div id="intro">
     <img src="" alt="">
     <ul>
         <li><%=image_tag "assets/images/kenzo.jpeg" %></li>
         <li>KENZO OKANO</li>
         <li>ken.rad02020@gmail.com</li>
         <li>
            <ul id="icons">
                <li class="icon"><a href="https://www.facebook.com/profile.php?id=100006127564764"><%=image_tag "assets/images/facebook.svg" %></a></li>
                <li class="icon"><a href="https://twitter.com/OKenzo22?lang=ja"><%=image_tag "assets/images/twitter.svg" %></a></li>
                <li class="icon"><a href="https://github.com/kenzo0202"><%=image_tag "assets/images/github.svg" %></a></li>
            </ul>
         </li>
     </ul>
 </div>
  <ul class="rescent_articles">
    <li><h5 class="heading">最近の投稿</h5></li>
    <li>
      <ol>
        <% blog.articles[0...10].each do |article| %>
          <li>
            <%= link_to article.title, article %>
            <span><%= article.date.strftime('%b %e') %></span>
          </li>
        <% end %>
      </ol>
    </li>
  </ul>

  <ul class="tags">
    <li><h5 class="heading">タグ</h5></li>
    <li>
      <ol>
        <% blog.tags.each do |tag, articles| %>
          <li><%= link_to "#{tag} (#{articles.size})", tag_path(tag) %></li>
        <% end %>
      </ol>
    </li>
  <ul>
</footer>