<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <%= stylesheet_link_tag "style" %>
    <title>法とテクノロジーの間で<%= ' - ' + current_article.title unless current_article.nil? %></title>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
    <script>
        $(window).resize(function() {
  var more = document.getElementById("js-navigation-more");
  var windowWidth = $(window).width();
  var moreLeftSideToPageLeftSide = $(more).offset().left;
  var moreLeftSideToPageRightSide = windowWidth - moreLeftSideToPageLeftSide;

  if (moreLeftSideToPageRightSide < 330) {
    $("#js-navigation-more .submenu .submenu").removeClass("fly-out-right");
    $("#js-navigation-more .submenu .submenu").addClass("fly-out-left");
  }

  if (moreLeftSideToPageRightSide > 330) {
    $("#js-navigation-more .submenu .submenu").removeClass("fly-out-left");
    $("#js-navigation-more .submenu .submenu").addClass("fly-out-right");
  }
});

$(document).ready(function() {
  var menuToggle = $("#js-mobile-menu").unbind();
  $("#js-navigation-menu").removeClass("show");

  menuToggle.on("click", function(e) {
    e.preventDefault();
    $("#js-navigation-menu").slideToggle(function(){
      if($("#js-navigation-menu").is(":hidden")) {
        $("#js-navigation-menu").removeAttr("style");
      }
    });
  });
}); 
   </script>
  </head>
  <body>
      <%= partial "partials/header" %>
    <div id="main" role="main">
      <div id="article"><%= yield %></div>
      <%= partial "partials/footer" %>
    </div>
  </body>
</html>
