<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <%= stylesheet_link_tag "style" %>
    <title>法とテクノロジーの間で<%= ' - ' + current_article.title unless current_article.nil? %></title>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="assets/javascripts/header.js"></script>
  </head>
  <body>
      <%= partial "partials/header" %>
    <div id="main" role="main">
      <div id="article"><%= yield %></div>
      <%= partial "partials/footer" %>
    </div>
  </body>
</html>
